.user{
    width: 300px;
    display: inline-block;
    
}
.login{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;

}
h2{
    font-size: 50px;
}
#secrets_box{
    width: 400px;
}