<!doctype html>
<html lang="en">
	<head>
        <title>Users</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static './users/secrets.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Most Popular Secrets....<a href="/secrets/">Back</a></h1> 
        <table class="table table-striped">
            <tr>
                <th>Name:</th>
                <th>Description:</th>    
            </tr>
            {% for secret in secrets %}
            <tr>
                <td>{{secret.secret}}</td>
                <td>{{secret.created_at}}</td>
                <td><a href="users:like">Like</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>