<!doctype html>
<html lang="en">
	<head>
        <title>Users</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="{% static './users/secrets.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div>
        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item list-group-item-success"><h2>{{ message }}</h2></li>
            {% endfor %}
            <li class="list-group-item list-group-item-success">Successfully registered (or logged in)!</li>
        </ul>
        {% endif %}
        </div>
        <h1>Hello, {{request.session.first_name}}!</h1>
        <div class="container" id="secrets_box">
            <form action="{% url 'users:add' %}" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="secret"></textarea>
                    <button type="submit" class="btn btn-default">Submit</button><a href="/popular/">Most Popular Secrets</a>
                </div>
            </form>
        </div> 
        <a href="{% url 'users:logout' %}">logout</a>
        <h1>Recent Secrets</h1> 
        <table class="table table-striped">
            <tr>
                <th>Name:</th>
                <th>Description:</th>    
            </tr>
            {% for secret in secrets %}
            <tr>

                <td>{{secret.secret}}</td>
                <td>{{secret.created_at}}</td>
                <td>{{secret.likes}}<a href="/like/{{secret.id}}">Like</a></td>
            </tr>
            {% endfor %}
        </table>
       
    </body>
</html>